<h1>People#index</h1>
<p><%= @msg %></p>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mail</th>
  </tr>
  <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.name %></td>
        <td><%= person.age %></td>
        <td><%= person.mail %></td>
      </tr>
  <% end %>
</table>